<%= form_for message, remote: true do |form| %>
<% if user %>
  <%= form.hidden_field :author_user_id, value: user.id %>
<% end %>
<% if coach %>
  <%= form.hidden_field :author_coach_id, value: coach.id %>
<% end %>
  <%= form.hidden_field :room_id, value: room %>
  <div class="row pos-bottom">
    <div class="col-auto pad-none">
      <a class="button-send rigth-position" type="submit"><i class="bi bi-link-45deg"></i></a>
    </div>
    <div class="col-lg-10">
      <div class="form-group">
        <%= form.text_field :body, placeholder: "Enter message", class: 'form-control'%>
      </div>
    </div>
    <div class="col-auto pad-none">
      <%= form.submit "SEND", class: "btn btn-primary", id: 'send-btn'%>
    </div>
  </div>
<% end %>
