<% content_for :content do %>

<div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
<div class="row">
  <div class="col-4">
    <div class="row-width">
      <div class="row">
        <div class="col-12 mt">
          Users
        </div>
      </div>
      <br>
      <% @rooms.each do |room| %>
        <%= link_to room, class: 'without-link' do %>
          <% active_class = (@room == room) ? 'active-chat' : '' %>
            <div class="row <%= active_class %> chat-block">
              <div class="col-md-auto img-container">
                <% if room.user.avatar_user.attached? %>
                    <img src="<%= url_for(room.user.avatar_user) %>" class= "rounded-circle room-block-image">
                <% else %>
                  <img src="<%= asset_path('generic-user-icon-10.png') %>" class="rounded-circle room-block-image">
                <% end %>
              </div>
              <div class="col-sm-7">
                  <p class="room-block-name"><%= room.user.name %></p>
                  <p class="room-block-text"><%= room.messages.last.body if room.messages.last != nil %></p>
              </div>
              <div class="col-md-auto time-room">
                30 min
              </div>
            </div>
        <% end %>
      <% end %>
    </div>


  </div>
  <div class="col-8">
    <div class="row-width">
      <div class="row">
        <div class="col-12 mt">
          Messages
        </div>
      </div>
    </div>
    <br>
    <% if @room.present? %>
      <div class="card min-height">
        <div class="card-body">
          <div class="message-content">
            <div class="row">
              <div class="col-12 date-now">
                <% @date = Date.today  %>
                — <%= @date.strftime("%B").upcase%> <%= Time.zone.now.day %> —
              </div>
              <br>
            </div>
                <div id="messages" class="row layer-message">
                  <% @room.messages.each do |message| %>
                      <%= render 'message/message_coach', message: message, user: @room.user  %>
                  <% end %>
                </div>
            <br>
            <div class="row-width">
                <%= render 'message/form', message: Message.new, room: @room.id, user: nil, coach: @room.coach %>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<br>

<script>
  $("#messages").scrollTop($("#messages")[0].scrollHeight);
</script>


<% end %>
<%= render template: "coach/show" %>
