<% content_for :content do %>

<div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col-3">
        <div class="total-current-box-coach">
          <div class="size-total-coach"><i class="bi bi-people"></i></div>
          <p class="tt">Total number </p>
          <p class="tt">of users</p>
          <p class="coach-stats">78</p>
        </div>

      </div>
      <div class="col-3">
        <div class="total-current-box-coach">
          <div class="size-total-coach"><i class="bi bi-person"></i></div>
          <p class="tt">Current number</p>
          <p class="tt">of users</p>
          <p class="coach-stats">27</p>
        </div>
      </div>
      <div class="col-3">
        <div class="total-current-box-coach">
          <div class="size-total-coach"><i class="bi bi-card-list"></i></div>
          <p class="tt">Total number of</p>
          <p class="tt">techniques used</p>
          <p class="coach-stats">32</p>
        </div>
      </div>
      <div class="col-3">
        <div class="total-current-box-coach">
          <div class="size-total-coach"><i class="bi bi-hand-thumbs-up"></i></div>
          <p class="tt">Total number of</p>
          <p class="tt">techniques with likes</p>
          <p class="coach-stats">16</p>
        </div>
      </div>
    </div>

    <div class="row-width">
      <div class="row">
        <div class="col-11 mt">
          My users
        </div>
        <div class="col-1 sa">
          See All
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <% if @invitation %>
        <% @invitation.each do |value| %>
          <% if value.status == true %>
            <div class="col-6">
              <br>
              <div class="card">
                <div class="body">
                  <div class="small-card">
                    <div class="image-avatar-small">
                      <% if value.user.avatar_user.attached? %>
                        <img src="<%= url_for(value.user.avatar_user) %>" class="rounded-circle avatar-coach-users">
                      <% else %>
                        <img src="<%= asset_path('generic-user-icon-10.png') %>" class="rounded-circle avatar-coach-users">
                      <% end %>

                    </div>
                    <div class="name-coach">
                      <span class="coach-name"><%= value.user.name %></span><br>
                      <span class="status">Current user</span>
                      <p class="coach-info-left"><%= value.user.age %> years | <%= value.user.gender %></p>
                      <div class="edit-prof-coach">
                        <i class="bi bi-envelope"></i>
                      </div>
                    </div>
                    <div class="about-user">
                      <p class="tages-info">Problems</p>
                      <% value.user.problems.each do |problem|%>
                        <span class="tags"><%= problem.name%></span>
                      <% end %>
                      <p class="tages-info">Techniques in process</p>
                      <p class="user-t-info">Lifestyle changes</p>
                      <div class="see-detail-button">SEE DETAILS</div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>You don't confirm any invitayions!</p>
      <% end %>

    </div>

    <div class="row-width">
      <div class="row">
        <div class="col-11 mt">
          Techniques
        </div>
        <div class="col-1 sa">
          See All
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-6">
        <div class="card h-100">
          <div class="item">
            <span class="notify-badge">NEW</span>
            <img src="<%= asset_path('anthony-tran-vXymirxr5ac-unsplash.jpg') %>" class="card-img-top" alt="...">
            <span class="steps-passed">0/6 steps passed</span>
            <span class="tag-badge">Depression</span>
          </div>
          <div class="card-body">
            <h6 class="title_card">Cognitive - Behavioral Therapy</h6>
            <p class="description">Elimination of the dependence of emotions and human behavior on his thoughts.</p>
            <div class="age">Age: <strong>25-35 years</strong></div>
            <div class="gender">Gender:<strong> Male, Female</strong></div>
            <br>
            <div class="step">Steps: <strong>4</strong></div>
            <div class="duration">Duration: <strong>6-7 hours</strong></div>
            <ul class="hr">
              <li><i class="bi bi-people"></i> 235</li>
              <li><i class="bi bi-hand-thumbs-up"></i> 124</li>
              <li><i class="bi bi-hand-thumbs-down"></i> 12</li>
              <li class="start-button">SEE DETAILS</li>
            </ul>
          </div>
        </div>

      </div>

      <div class="col-6">
        <div class="card h-100">
          <div class="item">
            <span class="notify-badge">POPULAR</span>
            <img src="<%= asset_path('kristina-tripkovic-nwWUBsW6ud4-unsplash.jpg') %>" class="card-img-top" alt="...">
            <span class="steps-passed">2/4 steps passed</span>
            <span class="tag-badge">Depression</span>
            <span class="tag-badge-second">Anxiety</span>
          </div>
          <div class="card-body">
            <h6 class="title_card">Lifestyle changes</h6>
            <p class="description">Eliminating the lack of control that makes people feel worse.</p>
            <div class="age">Age: <strong>35-40 years</strong></div>
            <div class="gender">Gender: <strong>Male, Female</strong></div>
            <br>
            <div class="step">Steps:<strong>4</strong></div>
            <div class="duration">Duration:<strong> 5 hours</strong></div>
            <ul class="hr">
              <li><i class="bi bi-people"></i> 311</li>
              <li><i class="bi bi-hand-thumbs-up"></i> 214</li>
              <li><i class="bi bi-hand-thumbs-down"></i> 34</li>
              <li class="start-button">SEE DETAILS</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-4">
    <div class="card pc">
      <div class="body">
        <div class="small-card">
          <div class="image-avatar-small">

            <% if @coach.avatar.attached? %>
              <img src="<%= url_for(@coach.avatar) %>" class= "image-size rounded-circle ">
            <% else %>
              <img src="<%= asset_path('generic-user-icon-10.png') %>" class="image-size rounded-circle">
            <% end %>
          </div>
          <div class="name-coach">
            <span class="coach-name"><%= @coach.name %></span><br>
            <span class="status"><%= @coach.email %></span>
            <p class="coach-info-left"><%= @coach.age %> years | <%= @coach.gender %></p>
            <div class="edit-prof">
              <i class="bi bi-three-dots-vertical"></i>
            </div>

          </div>
          <p class="tages-info">Areas of Expertise</p>
          <% if @problems %>
            <% @problems.each do |p| %>
              <span class="tags"><%= p[:name] %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row-width">
      <div class="row">
        <div class="col-5 notifications-title">
          Notifications
        </div>
        <div class="col-7 send-me-mail">

            <div class="form-switch">
              <label class="label-for-switch">Send me an email</label>
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"/>
            </div>
        </div>
      </div>
      <% if @notifications %>
        <% @notifications.reverse_each do |data| %>
          <div class="row">
            <div class="col-2 notif-avatar-block">
              <% if data.coach_id && data.user_id%>
                <img src="<%= asset_path('generic-user-icon-10.png') %>" class="rounded-circle notification-avatar">
              <% else %>
                <% if @coach.avatar.attached? %>
                  <img src="<%= url_for(@coach.avatar) %>" class= "rounded-circle notification-avatar">
                <% else %>
                  <img src="<%= asset_path('generic-user-icon-10.png') %>" class="rounded-circle notification-avatar">
                <% end %>
              <% end %>

            </div>
            <div class="col-7">
              <p class="notif-text-block"><%= data.body %></p>
              <p class="notif-hours-block"><%= time_lasted_since(data.created_at, data)%></p>
            </div>
            <div class="col-3 notif-tag-block ">
              <% if data.status == true %>
                  <span class="badge-tag">NEW</span>
              <% else %>

              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

  </div>

</div>
</div>

<% end %>
<%= render template: "coach/show" %>
