<% content_for :content do %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class="row">
  <div class="col-4">

    <div class="row-width">
      <div class="row">
        <div class="col-12 mt">
          Filters
        </div>
        <div class="col-12 show-filters">
          Show
        </div>
        <div class="col-12 filter-border">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              All
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Popular
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              New
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Recommended by me
            </label>
          </div>
        </div>

        <div class="col-12 show-filters">
          Problems
        </div>
        <div class="col-12 filter-border">
          <% @problems.each do |p|%>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                <%= p.name %>
              </label>
            </div>
          <% end %>
        </div>

        <div class="col-12 show-filters">
          Gender
        </div>
        <div class="col-12 filter-border">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              All
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Female
            </label>
          </div>
        </div>

        <div class="col-12 show-filters">
          Age
        </div>
        <div class="col-12 filter-border">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              To 25 years
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              25-35 years
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              35-45 years
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Over 45 years
            </label>
          </div>
        </div>


      </div>
    </div>

  </div>
  <div class="col-8">
    <div class="row-width">
      <div class="row">
        <div class="col-10 mt">
          Library
        </div>
        <div class="col-2 mt">
          <form>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
        <div class="col-12 pading-tags">
          <span class="tags-filter">All <span><i class="bi bi-x-circle-fill"></i></span></span>
          <span class="tags-filter">Depression <span><i class="bi bi-x-circle-fill"></i></span></span>
          <button class="clear-button-tags">Сlear all filters</button>
        </div>
      </div>

      <div class="row">
        <% @technigues.each do |technique|%>

          <div class="col-6 distance">
            <div class="card h-100">
              <div class="item">
                <span class="notify-badge"><%= technique.status.upcase %></span>
                <img src="<%= asset_path('kristina-tripkovic-nwWUBsW6ud4-unsplash.jpg') %>" class="card-img-top" alt="...">
                <% if technique.problems %>
                  <div class="tags-div-absolute">
                    <% technique.problems.each do |problem|%>
                      <span class="tags-in-image "><%= problem.name%></span>
                    <% end %>
                  </div>
                <% end %>

              </div>
              <div class="card-body">
                <h6 class="title_card"><%= technique.title %></h6>

                <p class="description"><%= technique.description %></p>
                <div class="age">Age: <strong><%= technique.age %> years</strong></div>
                <div class="gender">Gender: <strong><%= technique.gender %></strong></div>
                <br>
                <div class="step">Steps:<strong> <%= technique.total_steps %></strong></div>
                <div class="duration">Duration:<strong> <%= technique.duration %> hours</strong></div>
                <ul class="hr">
                  <li><i class="bi bi-people"></i> 311</li>
                  <li><i class="bi bi-hand-thumbs-up"></i> 214</li>
                  <li><i class="bi bi-hand-thumbs-down"></i> 34</li>
                  <li class="start-button">SEE DETAILS</li>
                </ul>
              </div>
                    <br>
            </div>

          </div>
        <% end %>
      </div>

    </div>

  </div>

</div>


<% end %>
<%= render template: "coach/show" %>
