
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Landing page</title>
  <%= stylesheet_link_tag 'landing.css' %>
  <%= stylesheet_link_tag 'coach.css' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
  <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
</head>

<body>
  <nav class="navbar navbar-expand-lg nav_background fixed-top">
    <div class="container-fluid pad">
      <a class="navbar-brand logo logo-button" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to 'Dashboard', coach_dashboard_page_path, class: "nav-link nav-link-style"%>
          <%= link_to 'My users', coach_users_page_path, class: "nav-link nav-link-style"%>
          <%= link_to 'Library', coach_library_page_path, class: "nav-link nav-link-style"%>
        </div>
      </div>
      <div class="d-flex">
        <div class="envelope-block"><i class="bi bi-envelope"></i></div>

        <div class="bell-block">
          <i class="bi bi-bell" ></i>

        </div>
        <div class="me-3 dropdown">
          <% if @coach.avatar.attached? %>
            <img src="<%= url_for(@coach.avatar) %>" class= "rounded-circle size-image" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          <% else %>
            <img src="<%= asset_path('sydney-sims-fZ2hMpHIrbI-unsplash.jpg') %>" class="rounded-circle size-image" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit Personal Information', update_profile_coach_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Change Password', password_change_coach_path, class: "dropdown-item" %></li>
          </ul>
        </div>
        <%= button_to 'LOG OUT', logout_coach_path, method: :delete, class: "btn btn-sing-in" %>
      </div>
    </div>
  </nav>

  <div class="content-block">

    <%= content_for?(:content) ? yield(:content) : yield %>


  </div>

  <footer>
    <div class="footer-main">
      © 2021 All rights reserved
    </div>
    <div class="footer-menu">
      Terms
    </div>
    <div class="footer-menu">
      Privacy
    </div>
    <div class="footer-menu">
      Security
    </div>
  </footer>

</body>
</html
