<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sing Up</title>
    <%= stylesheet_link_tag 'registrations.css' %>
    <%= stylesheet_link_tag 'landing.css' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg nav_background fixed-top">
      <div class="container-fluid pad">
        <a class="navbar-brand logo logo-button" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <div class="conteiner">
      <h4 class="wait-title">Hello, <strong><%= @coach.name %></strong>!</h4>
      <p class="help-text">You have registered as a Coach in our system.</p>
      <p class="help-text">Please, share some personal information about you so that we can</p>
      <p class="help-text">personalize your onboarding experience</p>

      <%= form_with model: @coach, class: "form-registration", url: become_coach_update_path do |f| %>
        <div class="image-input">
          <img class="rounded-circle" id="output" src="<%= asset_path('png-clipart-graphy-camera-camera-rectangle-photography.png') %>"/>
          <label for="avatar">
            <h4 class="upload">Upload profile photo</h4>
            <p class="upload-text">Image format should be png, jpg</p>
            <p class="upload-text">no more than 5 Mb</p>
          </label>
          <input type="file" accept="image/*" name="coach[avatar]" id="avatar" onchange="loadFile(event)">
          <script>
            var loadFile = function(event) {
              var output = document.getElementById('output');
              output.src = URL.createObjectURL(event.target.files[0]);
              output.onload = function() {
                URL.revokeObjectURL(output.src) // free memory
              }
            };
          </script>
        </div>
        <div class="form-group">
          <%= f.label 'Age', class: "labels" %>
          <%= f.text_field :age, class: "field form-control" %>
        </div>
        <br>

        <label class="labels">Gender</label>
        <div class="sign_for">
              <label class="link_for male" for="male">
                <input type="radio" class="female" name="coach[gender]" id="male">
                <p class="margin-none">MALE</p>
              </label>


              <label class="link_for female" for="female">
                <input type="radio" class="female" name="coach[gender]" id="female" checked>
                <p class="margin-none">FEMALE</p>
              </label>
        </div>
        <br>
        <div class="form-group">
          <label class="labels" for="tags">Areas of expertise</label>
          <select class="form-control select2-multi" name="coach[problems]" multiple="multiple">
            <% @problems.each do |data|%>
                <option name="coach[problems]"value="<%= data[:name] %>"><%= data[:name] %></option>
            <% end %>
          </select>
        </div>

        <script>
            $('.select2-multi').select2();
        </script>

        <%= f.submit 'GET STARTED', class: "btn btn-sing-up marge-top"%>
      <% end %>
    </div>
    <footer>
      <div class="footer-main">
        © 2021 All rights reserved
      </div>
      <div class="footer-menu">
        Terms
      </div>
      <div class="footer-menu">
        Privacy
      </div>
      <div class="footer-menu">
        Security
      </div>
    </footer>
  </body>
</html>
